@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        @@keyframes spinner {
            to { transform: rotate(360deg); }
        }

        input, select { width: 300px; }

        label {
            width: 70px;
            display: inline-block;
        }

        #mySpinner {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
        }

        .spinner:before {
            content: '';
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #000;
            animation: spinner .6s linear infinite;
            display: inline-block;
        }
    </style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

    <script>
        $(function() {

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "https://api.dfnt.work/api/v1/auth/login",
                data: JSON.stringify({ "userName": "user@domain.com", "password": "Qwerty+123" }),
                dataType: "json",
                success: function(result) {
                    var token = result.data.token;
                    window.token = token;
                    if (token != null)
                        fillCards();
                },
                error: function(xhr) {
                    alert(`error: ${xhr.responseText}\r\n${xhr.statusText}`);
                }
            });

            var cardIdSelect = $("select[name='cardid']");

            function fillCards() {
                $.ajax({
                    headers: { 'Authorization': 'Bearer ' + window.token },
                    type: "POST",
                    url: "/api/v1/payment/user/cards",
                    dataType: "json",
                    success: function(result) {
                        if (!result || result.status !== 0)
                            return;

                        $.each(result.data, function(index, value) {
                            cardIdSelect.append(`<option value="${value.cardId}">${value.cardName}${value.isDefault === true ? ' (default)' : ''}</option>`);
                        });
                    },
                    error: function(xhr) {
                        console.log(`error: ${xhr.responseText}\r\n${xhr.statusText}`);
                    }
                });
            }

            var cardFields = ['number', 'holder', 'month', 'year', 'cvv'];

            $.each(cardFields, function(index, value) {
                $("input[name='" + value + "']").change(function() {
                    cardIdSelect.val("");
                });
            });

            cardIdSelect.change(function() {
                if (this.value) {
                    $.each(cardFields, function(index, value) {
                        $("input[name='" + value + "']").val("");
                    });
                }
            });

            $("#sendForm").submit(function(event) {
                event.preventDefault();

                var token = window.token;
                if (token == null) {
                    alert("Error: no auth token!");
                    return;
                }

                var valOrNull = function(val) {
                    return val.length > 0 ? val : null;
                };
                var inputValOrNull = function(name) {
                    var val = $("input[name='" + name + "']").val();
                    return valOrNull(val);
                };

                var loginFormObject = {
                    'Amount': inputValOrNull('amount'),
                    'Currency': inputValOrNull('currency'),
                    'Country': inputValOrNull('country'),
                    'ServiceCode': inputValOrNull('serviceCode'),
                    'CardId': valOrNull(cardIdSelect.val()),
                    'Number': inputValOrNull('number'),
                    'Holder': inputValOrNull('holder'),
                    'Month': inputValOrNull('month'),
                    'Year': inputValOrNull('year'),
                    'Cvv': inputValOrNull('cvv')
                };

                $('#mySpinner').addClass('spinner');

                $.ajax({
                    headers: {
                        'Authorization': 'Bearer ' + window.token
                    },
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(loginFormObject),
                    url: "/api/v1/payment/deposit/register",
                    success: function(response) {
                        if (response.status === -1)
                            alert("error");
                        if (response.status === -2)
                            alert("user not found");
                        if (response.status === 0)
                            window.location = response.data.redirectUrl;
                    },
                    error: function(xhr) {
                        alert(`error: ${xhr.responseText}\r\n${xhr.statusText}`);
                    },
                    complete: function() {
                        $('#mySpinner').removeClass('spinner');
                    },
                    contentType: "application/json"
                });
            });

        });
    </script>
</head>

<body>
<div id="content">
    <form id="sendForm">
        <p><label>amount: </label><input type="text" name="amount" value="10" /></p>
        <p><label>currency: </label><input type="text" name="currency" value="USD" /></p>
        <p><label>country: </label><input type="text" name="country" value="USA" /></p>
        <p><label>service: </label><input type="text" name="serviceCode" value="retry_pack" /></p>
        <p><label>card: </label><select name="cardid"><option></option></select></p>
        <p><label>number: </label><input type="text" name="number" value="1234123412341234" /></p>
        <p><label>holder: </label><input type="text" name="holder" value="Peter Falk" /></p>
        <p><label>month: </label><input type="text" name="month" value="01" /></p>
        <p><label>year: </label><input type="text" name="year" value="22" /></p>
        <p><label>cvv: </label><input type="text" name="cvv" value="345" /></p>
        <button type="submit"><b>Pay</b></button>
        <div id="mySpinner"></div>
    </form>
</div>
</body>
</html>